@mixin pointer {
    z-index: 99999999999;
    transform: none;
    transform-origin: 0px 0px;

    position:fixed; top:0;left:0; background-color:blue !important; width:100%; height:2px;
}
.bigtext-html {
    z-index: 99999999999;
    height: 150px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #797F8D;
    background-color: #FFFFFF;
    &-content {
        height: 100%;
        background-color: #FFFFFF;
        font-size: 53px;
        color: #333 !important;
        text-align: center;
        font-weight: bold;
        width: 93%;
        margin: 0 auto;
    }

    &-btn {
        width: 20px;
        height: 20px;
        background-color: red;
        position: absolute;
        right: 20px;
        top: 20px;
        border-radius: 10px;
        color: #FFFFFF;
        cursor: pointer;
    }
}