
.topbar-html {
    width: 100%;
    background: #797F8D;
    overflow: hidden;
    z-index: 2147483645;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px 2px #999;
    left: 0;
    right: 0;
    &-mright {
        margin-right: 50px !important;
    }
    &-margin0 {
        margin: 0 !important;
    }
    &-content {
        width: 1080px;
        height: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        &-item {
            cursor: pointer;
            margin: 0 6px;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                height: 30px;
                line-height: 30px;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 500;
                font-family: PingFangSC-Medium;
            }

            img {
                height: 52px;
                width: 52px;
                border-radius: 5px;
                display: block;
            }
         
        }
    }
    
}